@tailwind base;
@tailwind components;
@tailwind utilities;

/* tambahan opsional */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    pointer-events: none;
}

.glass {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}